# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# Upload Folder
uploads/

# Large Models
*.h5
*.keras

# OS
.DS_Store
Thumbs.db